{% extends 'base.html.twig' %}

{% set menu = 'author' %}

{% block title %}Nouvel auteur{% endblock %}

{% block body %}
    <h1>Créer un auteur</h1>

    {{ include('author/_form.html.twig') }}

    <a href="{{ path('author_index') }}">Retour à la liste</a>
{% endblock %}
