<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>{% block title %}{% endblock %} - Library</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
        <link href="/dist/css/style.css" rel="stylesheet">
    {% endblock %}
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="{{ path('home') }}">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item {% if menu == 'author' %}active{% endif %}">
            <a class="nav-link {% if menu == 'author' %}disabled{% endif %}" href="{{ path('author_index') }}">Authors</a>
          </li>
          <li class="nav-item {% if menu == 'book' %}active{% endif %}">
            <a class="nav-link {% if menu == 'book' %}disabled{% endif %}" href="{{ path('book_index') }}">Books</a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="container">

      <div class="starter-template">
        {% block body %}{% endblock %}
      </div>

    </main><!-- /.container -->

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://getbootstrap.com/docs/4.1/dist/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    {% block javascripts %}
    {% endblock %}
  </body>
</html>
